<div class="wishlist-page-container">
  <div class="wishlist-power-by-bar" style="opacity: 1!important; z-index: 3 !important; visibility: visible !important;">
    <a href="https://meroxio.com/" class="m-powered-meroxio" style="display: block!important; opacity: 1!important; z-index: 3 !important; visibility: visible !important;">Powered By MeroxIO</a>
  </div>
  <h1 class="wishlist-page-heading">{{ block.settings.wishlist-page-heading }}</h1>

  <div id="wishlist-items">
    <!-- Placeholder for dynamic wishlist items -->
  </div>
</div>

{% schema %}
    {
      "name": "Wishlist Product Page",
      "target": "section",
      "stylesheet": "wishlist_block.css",   
      "settings": [
        {
          "type": "text",
          "id": "wishlist-page-heading",
          "label": "Page heading",
          "default": "Your Wishlist"
        }
      ]
    }
{% endschema %}