
#meroxio-sticky-mobile-menu-paid .m-sticky-menu{
    display: none;
   }

   @media(max-width: 600px){
    #meroxio-sticky-mobile-menu-paid .m-sticky-menu{
    display: block;
   }
   #meroxio-sticky-mobile-menu-paid .m-menu-container{
     display: flex;
     justify-content: space-evenly;
     text-align: center;
     padding: 10px 0;
     width: 100%;
     position: fixed;
     bottom: 0;
     box-shadow: 0px -2px 6px rgb(0 0 0 / 8%);
     z-index: 99;
     left: 0;
   }
   #meroxio-sticky-mobile-menu-paid .m-icon-main{
     width: auto;
   }
   #meroxio-sticky-mobile-menu-paid .m-icon-main a{
     text-decoration: none;
     color: #000;
   }
   #meroxio-sticky-mobile-menu-paid .m-icon{
     display: flex;
     flex-direction: column;
   }
   #meroxio-sticky-mobile-menu-paid .m-icon img{ 
     margin: auto;
   }
   }