#meroxio-sticky-mobile-menu-slider-free .m-sticky-menu {
    display: none;
  }
  
  @media (max-width: 600px) {
    #meroxio-sticky-mobile-menu-slider-free .m-sticky-menu {
      display: block;
    }
  
    #meroxio-sticky-mobile-menu-slider-free .m-menu-container {
      
      padding-top: 10px;
      padding-bottom: 5px;
      width: 100%;
      position: fixed;
      bottom: 0;
      box-shadow: 0px -2px 6px rgb(0 0 0 / 8%);
      z-index: 99;
      left: 0;
    }
    #meroxio-sticky-mobile-menu-slider-free .m-sticky-menu-bar-box{
      display: flex;
      justify-content: space-evenly;
      text-align: center;
    }
    #meroxio-sticky-mobile-menu-slider-free .company_name{
      font-size: 10px;
      text-align: center;
    }
    #meroxio-sticky-mobile-menu-slider-free .company_name a{
      color: #3ec6ff;
    }
  
    #meroxio-sticky-mobile-menu-slider-free .m-icon-main {
      width: auto;
    }
  
    #meroxio-sticky-mobile-menu-slider-free .m-icon-main a {
      text-decoration: none;
      color: #000;
    }
  
    #meroxio-sticky-mobile-menu-slider-free .m-icon {
      display: flex;
      flex-direction: column;
    }
    #meroxio-sticky-mobile-menu-slider-free .m-icon svg {
      display: flex;
      flex-direction: column;
    }
    #meroxio-sticky-mobile-menu-slider-free .m-icon img {
      margin: auto;
    }
  }
  